<%- include('partials/head', {title: "Login"}); %> <%- include('partials/navbar'); %>

<main class="container">
    <h1 class="my-5 text-center">Login</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <% mensajes.forEach(m => { %>
            <div class="alert alert-dark mb-2"><%= m.msg %></div>

            <% }) %>

            <form action="/user/login" method="POST">
                <input type="hidden"  name="_csrf" value="<%= csrfToken  %>" />
                <input type="text" value="" name="email" class="form-control mb-3" placeholder="Ingrese email" />
                <input type="password" value="" name="password" class="form-control mb-3" placeholder="Ingrese contraseña" />
                
                <button type="submit" class="btn btn-primary">Loguearse</button>
            </form>
        </div>
    </div>
</main>
